div {
width:400px;
height:400px;
outline-style:double;
}

h2 {
font-family:myFirstFont;
white-space:pre-wap;
}

.txt{
    width:150px;
	height:20px;
	margin:20px;
}
form label{
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 150px;
    vertical-align: top;
    margin-top:20px;
	font:Monospace 5px;
}

.button{
background-color:"gray";
color:"black";
border:none;
padding:15px 80px;
text-decoration:none;
display:inline-block;
border-radius:8px;
cursor:pointer;
margin:20px;
}